/* -------------------- Old Article CSS Library
-------------------------------------------------------- */
div.fwm-article{
    font-family: "myMM-font", sans-serif !important;
	line-height: 2em !important;  
	padding-bottom: 50px;
}
hr{
    border: 1px dashed gray;
      margin-bottom: 20px;
}

/* -------------- Text Style  */
div.fwm-article > h2,
div.fwm-article > h3,
div.fwm-article > p{
    padding-left: 20px;
}
div.fwm-article a{
    margin-left: 20px;
}

div.fwm-article h3{
    text-decoration: underline;
}
div.fwm-article h2{
	font-weight: 700;
}
div.fwm-article p{
    margin: 5px;
}
div.fwm-article ol {
    margin: auto;
    margin-left: 60px;
}
.fwm-example > h3{
    margin-top: 0 !important;
}
/* --------------- Test Feed Style  */
div.fwm-article .description{
    background: #7FEAD2;
  	padding-top: 10px;
    padding-bottom: 20px;
	margin: 10px 0;
}
.fwm-example{
    background: #EBEBEB;
    padding: 20px;
	margin: 20px;
}
.fwm-example-feed{
    padding: 20px;
	background: white;
}

.fwm-example-code{
    background: white;
    padding: 0 10px;
    border-left: 5px solid #f86;
    line-height: 1.2em;
    overflow-x: auto;
}
div.fwm-note{
    background: #FBF0AB;
    padding: 20px;
	margin: 10px 0;
}
div.fwm-alert{
    background: #FBF0AB;
    padding: 20px;
	margin: 10px 0;
}

/* ----------- Button Style  */
a.fwm-btn-primary{
    padding: 10px 20px;
    background: #3E1C0C;
    color: peachpuff;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 20px;
    display: inline-block;
}
a.fwm-btn-yourself{
    padding: 5px 20px;
    background: #FF7C2B;
    color: peachpuff;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}



/* ------- Coding Color Style */
code{
    color: red;
    font-size: 16px;
}
code em{
    color: slateblue;
}
code b{
    color: grey;
}
code em.fwm-class{
    color: #86B32D;
}
span.fwm-html{
    color: #009999;
}
span.fwm-comment{
    color: gray;
}
.fwm-example-code ol {
   margin-left: 0px !important;
   padding-left: 20px;
}
div.fwm-example-code > ol > li pre{
    margin: 0;
}
div.fwm-example-code > ol > li{
    font-size: 12px;
	color: #aaa;
}

/* -------------- Table style */
div.fwm-article table{
    color: #000;
    border-collapse: collapse;
    width: 90%;
	
	margin: auto ;
	padding: 30px;
}
div.fwm-article table th{
    text-align: left;
    background:#777;
    padding: 10px 10px;
}
div.fwm-article table tr{
    border: 1px solid #aaa;
}
div.fwm-article table tr:nth-child(odd){
    background-color: #aaa;
}
div.fwm-article table td{
    padding: 5px 10px;
}




